name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: docker/login-action@v3.7.0
      with: 
        username: ${{ dockerhub_username}}
        password: ${{ dockerhub_password}}
    - uses: docker/build-push-action@v6.18.0
      with:
        file: slim.Docker
        tags: jayl1e/webecho:cd
